@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Arvo&display=swap');
*{
   margin:0px;
   padding:0px;
   box-sizing:border-box;
  --primary-color:#eb5d0c;
  --secondary-color: black;
  --third-color:#cfc9ba;
   
 }

/* header start here*/
header{
       position:sticky;
       top:0px;
        width:100%;
        height:100px;
        display:flex;
        flex-diredction:row;
        background-color:var(--primary-color);   
        border:2px solid var(--secondary-color); 
         font-family :'Archivo', sans-serif;   
      
      } 
.logo img{
       width:80px;
       height:80px;
       margin:10px 10px;
        border-radius:100px;    
    }
nav{
      width:100%;
      display:flex;
      flex-direction:column;
      
 } 
.one{
      width:100%;
      height:40%;
      display:flex;
      flex-direction:row;
       margin-top:10px;
      justify-content:space-around;
      align-items:center;
     
      
}


.two{
     width:100%;
      height:60%;
      display:flex;
      flex-direction:row;
      
      justify-content:space-around;
      align-items:center;
     margin-bottom:10px;
     margin-top:10px;
}
a{
  text-decoration :none;
  font-size:25px;
  color:var(--secondry-color);
 }
.one a {
  color:white;
  font-size:15px;
}
.one i{
  font-size:15px;
  margin-right:10px;
  color:var(--secondary-color); 
}

.two a{
   width:50px;
   height:50px;
   
  padding:15px 20px;
  border-radius:10px;
  margin-bottom:10px;
 
}
.two a:hover{
   background-color:black;
   color:var(--primary-color);
}

/* header end here*/

/*whatsapp start here*/
 .whatsapp{
    position:fixed;
    bottom:70px;
    right:20px;
   
 } 
 .whatsapp img{
    width:80px;
    height:80px;
    
 }
/*whatsapp end here*/

/*form start here*/
form{
 background-color:var(--secondary-color);
 border:none;
 padding:20px;
 
}
#input_style{
 background-color:var(--primary-color);
color:yellow;
padding:10px;
border:none;
border-radius:5px;

}

#input_style:hover
{
 background-color:red;
 color:yellow;
padding:10px;
border:none;
border-radius:5px;
}

::placeholder{
 color: white;
}

textarea::placeholder{
 color:var(--primary-color);
}

input[type=radio]{
 accent-color:var(--primary-color);
}

input[type=checkbox]{
 accent-color:var(--primary-color);
}

.container{
 background-color:#e5e5d6;
 padding:20px;
 border-radius:10px;
}

#or{
 color:var(--primary-color);
}

.btn{
  color:var(--primary-color);
  padding:10px 15px;
  border:1px solid var(--primary-color);
  margin:10px;
}

legend{
color:var(--primary-color);
}

fieldset{
border:2px solid var(--primary-color);
padding:10px;
box-shadow:2px 4px 7px var(--primary-color);
}
#country{
 padding:5px 15px;
 background-color:var(--primary-color); 
 color:white; 
}
/*form end here*/

/*address start here*/
 .Company_address{
     display:flex;
     width:100%;
     height:250px;
     justify-content:center; 
    
     background-color:var(--third-color);
     color:var(--primary-color); 
     padding:20px; 
 }
 .left, .right{
  width:50%;
  
}
 .left iframe{
      height:100%;
      width:90%;
      margin-left:10%;
  }
  .right{
     
      padding-left:50px
  }
  address a{
      font-size:18px; 
       
}
  .map_locate{
     font-size:40px;
     color:red;
     margin-right:10px;
  
}
/*address end here*/

/*footer start here*/
 .footer{
      width:100%;
      height:50px;
      background-color:black;
      color:var(--primary-color);
      border:2px solid var(--primary-color);
      font-family :'Arvo', serif;
}

/*footer end here*/



/*commom class start*/
 .heading_class{
    color:var(--primary-color);
    margin-top:20px;
    margin-bottom:20px;
}

/*commom class end */